export("%cn%")
export(anomalies)
export(as.character.timeDay)
export(baseDay)
export(boxCox)
export(coalesce)
export(conc2meq)
export(daysInMonth)
export(dectime)
export(dectime2Date)
export(dlpearsonIII)
export(dms2dd)
export(dpearsonIII)
export(eventLen)
export(eventNum)
export(eventSeq)
export(eventSeries)
export(fillMissing)
export(fourier)
export(group2row)
export(hyperbolic)
export(hysteresis)
export(IboxCox)
export(importCSV)
export(importRDB)
export(is.na.timeDay)
export(isDateLike)
export(length.timeDay)
export(mergeNearest)
export(mergeQ)
export(movingAve)
export(movingDiff)
export(na2miss)
export(peaks)
export(plpearsonIII)
export(ppearsonIII)
export(qlpearsonIII)
export(qpearsonIII)
export(quadratic)
export(recode.character)
export(recode.factor)
export(recode.integer)
export(recode.numeric)
export(regularSeries)
export(renCol)
export(rlpearsonIII)
export(rpearsonIII)
export(scaleRng)
export(screenData)
export(seasons)
export(select)
export(seqCollapse)
export(setTZ)
export(shiftData)
export(sumComposition)
export(untable)
export(waterYear)
export(whichRowCol)
export(zeropad)
exportClasses(timeDay)
exportMethods(as.timeDay)
