S3method("[",timeDay)
S3method(as.character,timeDay)
S3method(as.data.frame,timeDay)
S3method(c,timeDay)
S3method(format,timeDay)
S3method(is.na,timeDay)
S3method(length,timeDay)
S3method(makepredictcall,boxCox)
S3method(makepredictcall,hyperbolic)
S3method(makepredictcall,quadratic)
S3method(print,timeDay)
S3method(recode,character)
S3method(recode,factor)
S3method(recode,integer)
S3method(recode,numeric)
export("%cn%")
export(IboxCox)
export(Ihyperbolic)
export(IsCurve)
export(anomalies)
export(baseDay)
export(baseDay2decimal)
export(boxCox)
export(coalesce)
export(conc.meq)
export(conc2meq)
export(daysInMonth)
export(dectime)
export(dectime2Date)
export(dlpearsonIII)
export(dms2dd)
export(dpearsonIII)
export(eventLen)
export(eventNum)
export(eventSeq)
export(eventSeries)
export(exportCSV)
export(exportRDB)
export(fillMissing)
export(findSites)
export(fourier)
export(group2row)
export(hyperbolic)
export(hysteresis)
export(importCSV)
export(importRDB)
export(index.coalesce)
export(insertMissing)
export(isCharLike)
export(isDateLike)
export(isGroupLike)
export(isNumberLike)
export(makeMeta)
export(mergeNearest)
export(mergeQ)
export(miss2na)
export(more)
export(movingAve)
export(movingDiff)
export(na2miss)
export(peaks)
export(plpearsonIII)
export(ppearsonIII)
export(qlpearsonIII)
export(qpearsonIII)
export(quadratic)
export(readList)
export(readNWIS)
export(recode)
export(regularSeries)
export(renCol)
export(rlpearsonIII)
export(rpearsonIII)
export(sCurve)
export(scaleRng)
export(screenData)
export(seasons)
export(select)
export(seqCollapse)
export(setFileType)
export(setTZ)
export(shiftData)
export(sumComposition)
export(untable)
export(waterYear)
export(whatUV)
export(whichRowCol)
export(zeropad)
exportClasses(timeDay)
exportMethods(Arith)
exportMethods(Math)
exportMethods(as.timeDay)
exportMethods(show)
importFrom(stats,makepredictcall)
